<span class="budget-info-title">city name:</span>
<span class="budget-info-data" id="city">{{ location | default('n/a') }}</span>
<span class="budget-info-title">police budget:</span>
<span class="budget-info-data" id="police">{{ police_budget | default('n/a') }}</span>
<span class="budget-info-title">total budget:</span>
<span class="budget-info-data" id="total">{{ total_budget | default('n/a') }}</span>
<span class="budget-info-title">percentage:</span>
<span class="budget-info-data" id="pct">{{ pct | default('n/a') }}%</span>