<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Thicc Blue Line</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" type="text/css" href="/tbl.css?line_height={{ pct | default(30) }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='dynamic_plot.css') }}">
   </head>
   <body>
      <div class="flex-grid">
         <div class="grid-item title-row"><a href="/">the thicc blue line</a></div>
            {% include 'flag.html' %}
         <div class="grid-item data-row budget">
            {% include 'data.html' %}
         </div>
         {% if SCATTER == 'True' %}
            {% include 'scatter.html' %}
         {% else %}
            {% include 'map.html' %}
         {% endif %}
    </div>
    </body>
    </html>