<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Thicc Blue Line</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <div class="flex-grid">
         <div class="grid-item title-row">the thicc blue line</div>
            {% include 'flag.html' %}
         <div class="grid-item data-row budget">
            {% include 'data.html' %}
         </div>
         <div class="grid-item map-row map">
            {% include 'map.html' %}
        </div>
        <div id="tooltip"></div>
        {% include 'map_script.html' %}
    </div>
    </body>
    </html>